* {
	font-family: Open Sans;
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(30, 90, 100, 0.5);
}
/*------------Header-------------*/

.top-background {
	height: 75px;
}

.top-background h1 {
	display: inline-block;
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
	
}

.top-background h1.strong {
	color: black;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: -5px;
	

	
}

.name-header {
	height: ;
	margin: auto;
	text-align: center;
	width: 20%;
}

/*------------Navigation-------------*/

nav {
	height: 60vh;
	margin-top: 7.5vh;
	margin-left: 1.5%;
	/*padding: 25px 15px 0px 15px;*/
	position: absolute;
	text-align: center;
	width: 12.5%;
}

nav ul {
	float: left;
	list-style-type: none;
	width: 90%;
	/*height: 100px;*/
}

nav ul li {
	margin: 25px auto;
	
}

nav ul li a {
	background-color: goldenrod;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
	height: 25px;
	padding: 5px 0 0 10px;
	display: block;
	width: 100%;
	min-width: 68px;
}



a:visited {
	color: red;
}

a:hover {
	color: green;
}

a:active {
	color: yellow;
}


/*------------Main Content-------------*/



main {
	background-color: white;
	border-radius: 5px;
	box-shadow: 10px 10px 5px rgba(50, 50, 50, 0.5), -5px -2.5px 5px rgba(50, 50, 50, 0.5);
	margin-left: 15%;
	padding: 3%;
	width: 75%;
	overflow: auto;
}


/*------------About Page -------------*/

section.about {
	width: 100%;
	display: inline: block;
	margin: 60px 0 0 0;
}

img#about-pic {
	border-radius: 10px;
	width: 30%;
	display: inline;
	float: left;
	margin-right: 25px;
}
p#about-me {
	padding: 10px;
	text-align: justify;

}

p#about-me::first-letter {
	margin-left: 50px;
}

/*------------Portfolio Page Gallery-------------*/

.work-gallery {
	width: 98%;
	margin: 0 2.5%;
	padding: 0;
	text-align: center;

	list-style-type: none;
}

.work-gallery a {
	height: 300px;
	margin: 1%;
	padding: 2.5px;
	/*min-width: 27.5%;*/
	width: 30%;
	/*border: 1px solid black;*/
	float: left;
	display: inline-block;

}

img#eat {
	margin-top: 60px;
}

img#paws {
	width: 75%;
}

img#bear {
	width: 68%;
}

img#roadtrip {
	width: 65%;
}

img#cows {
	width: 85%;
}
/*do the math to find out the margins height of parent element minus img height divided by 2 to get top and bottom margins*/
.thumbnail {
	width: 100%;
	
	/*margin-top: 25px;*/
	vertical-align: center;
}

h3#other-work {
	clear: left;
}

/*------------Mobile-------------*/

@media screen and (max-width: 380px) {
	#work-gallery li:nth-child(1n+1) {
	clear: left;
	min-width: 30%;
}
}


/*------------Two Column Layout-------------*/
@media screen and (min-width: 380px) and (max-width: 700px) {
	#work-gallery li:nth-child(2n+1) {
	clear: left;
	min-width: 30%;
}
}


/*------------Three Column Layout-------------*/
@media screen and (min-width: 700px) and (max-width: 1500px) {
	#work-gallery li:nth-child(3n+1) {
	clear: left;
}
}

/*------------Contact Page-------------*/



label, input {
    display: inline-block;
}

label {
    width: 20%;
    text-align: right;
}

button {
	margin-left:25%;
}

/*------------Footer-------------*/

footer {
	margin: 2% auto;
	height: 20vh;
	width: 80%;
}
section.social {
	margin: 0 auto;
	width: 30%;
	text-align: center;
}
.social-icon {
	margin: 0 auto;
	width: 15%;

}